<!--ESTE ES EL MENU O TEMPLATE PARA EL INTEGRANTE--->
                <div class="navbar-header" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Proyectos</a>                                    
                        </li>
                        <li><a href="#">Visualizar</a></li>
                        <li><a href="#">Mis actividades</a></li>
                        <li><a href="#">Estados de los proyectos</a></li>
                        <li><a href="#">Reuniones</a></li>                                
                        <li>
                            <ul class="posicionBtnSalirIntegrante">     

                                <div ng-controller="CtlLogIn">
                                    <button id="btnLogOut" class="btn btn-danger" style="margin-bottom:-26px"
                                            ng-click="logOut()">Cerrar Sesion</button>       
                                </div>      
                            </ul>
                        </li>

                </div>