<div class="body-wrap">
            <div class="container">
                <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 20px;
    border: -222px solid transparent">
                   <!--<div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                            
                        </div>-->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="navbar-inverse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#/Proyectos">Proyectos</a></li>
                                <li><a href="#/Cargos">Cargos</a></li>
                                <li><a href="#/Integrantes">Integrantes</a></li>
                                <li><a href="#/Actividades">Actividades</a></li>
                                <li><a href="#/Tareas">Tareas</a></li>
                                <li><a href="#/Recursos">Recursos</a></li>

                                
                                <li><a href="#">Tareas</a></li>
                                <li><a href="#">Recursos</a></li>

                                <li><a href="#Estados">Estado Proyectos</a></li>
                                <li><a href="#/Reunion">Reuniones</a></li>
                                <li>
                            <ul class="posicionBtnSalirIntegrante">     

                                <div ng-controller="CtlLogIn">
                                    <button id="btnLogOut" class="btn btn-danger" style="margin-bottom: -26px"
                                            ng-click="logOut()">Cerrar Sesion</button>       
                                </div>      
                            </ul>
                        </li>                   
                    </div>
                 
                </nav>
            </div>
  