<div class="col-xs-12">
    <div class="col-md-12">
        

        <div class="panel panel-primary col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Buscar cargos" ng-model="filtrar">

            </div>
        </div>


        <div class="panel-body">
            <table  class="table table-striped" >
                <thead>
                    <tr>
                        <th class="seleccionable">
                            <a>NOMBRE</a>


                        </th>
                        
                        <th class="seleccionable">
                            <a>inicio</a>


                        </th>   

                        <th class="seleccionable">
                            <a>fin</a>


                        </th>    

                      
                        <th class="seleccionable">
                            <a>Etapa</a>


                        </th>  
                        <th class="seleccionable">
                            <a>Estado</a>


                        </th>  

                    </tr>
                </thead>
                <tbody ng-init="listarEstados()" >
                    <tr  ng-click="getSelectedRow()" ng-repeat="obj in listadoEstado|
                            filter:filtrar ">
                        
                        <td>{{obj.nombreProyecto}}</td>
                        <td>{{obj.inicio}}</td>
                        <td>{{obj.fin}}</td>
                        <td>{{obj.etapa}}</td>
                        <td>{{obj.estado}}</td>

                    </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>