<div class="col-xs-12">
    <div class="col-md-12">
        <form  method="post" role="form" name="formulario" >
            <div class="form-group col-lg-6">
                <label>
                    Nombre
                </label>
                <input  type="text" class="form-control"
                        placeholder="Nombre proyecto " ng-model="proyecto.nombre">
            </div> 
            <div class="form-group col-lg-6">
                <label >
                    Inicio
                </label>
                <input   type="date" class="form-control"
                         placeholder="fecha" 
                         ng-model="proyecto.inicio" required>
            </div>
            <div class="form-group col-lg-6">
                <label>
                    Fin
                </label>

                <input   type="date" class="form-control"
                         placeholder="fecha" 
                         ng-model="proyecto.fin" required>
            </div> 

            <div class="form-group col-xs-6">
                <label>
                    Etapa
                </label>
                <br>
                <select class="form-control"ng-model="proyecto.etapa" data-ng-options="e.opcion as e.opcion for e in etapas" required></select>
            </div> 
            <div class="form-group col-lg-7">
                <button class="btn btn-primary" type="submit" ng-click="crearProyecto(formulario)" >
                    Agregar
                </button>
                <button class="btn btn-success" type="button" ng-click="modificarProyecto(formulario)">
                    Modificar
                </button>
            </div>


        </form>

        <br>
        <form role="form" name="formulario2" ng-submit="buscarProyecto(formulario2)">
            <div class="form-group col-md-6" >
                <label>
                    Nombre
                </label>
                <input  type="text" class="form-control"
                        placeholder="nombre a buscar" 
                        ng-model="proyecto.nombreBuscar" required>
            </div>
            <div class="form-group col-xs-6" style="margin-top: 24px ">
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
                <button class="btn btn-danger" type="button" ng-click="eliminarProyecto(formulario2)">
                    Eliminar
                </button>
            </div>
        </form>



        <div class="panel panel-primary col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Buscar proyecto" ng-model="filtrar">

            </div>
        </div>


        <div class="panel-body">
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th class="seleccionable">
                            <a>Nombre</a>


                        </th> 


                        <th class="seleccionable">
                            <a>Inicio</a>


                        </th>   

                        <th class="seleccionable">
                            <a>Fin</a>


                        </th>    

                        <th class="seleccionable">
                            <a>Etapa</a>


                        </th>    


                    </tr>
                </thead>
                <tbody ng-init="listarProyectos()" >
                    <tr  ng-click="getSelectedRow()" ng-repeat="obj in listadoProyectos|
                            filter:filtrar ">
                        <td>{{obj.nombre}}</td>
                        <td>{{obj.inicio}}</td>
                        <td>{{obj.fin}}</td>
                        <td>{{obj.etapa}}</td>

                    </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>