<div class="col-xs-12">
    <div class="col-md-12">
        <form  method="post" role="form" name="formulario" >
            <div class="form-group col-md-6" ng-init="listarForaneaActividades()">
                <label>
                    Actividad:
                </label>
                <!--<input  type="text" class="form-control"
                        placeholder="Actividad a seleccionar " ng-model="tarea.actividad" required>-->
                 <select  ng-model="tarea.actividad" data-ng-options="t.id as t .nombre for t in listadoActividades" class="form-control" required></select>
            </div> 
            <div class="form-group col-md-6">
                <label>
                    Nombre:
                </label>
                <input  type="text" class="form-control"
                        placeholder="Nombre de la tarea" ng-model="tarea.nombre" required>
            </div> 
            <div class="form-group col-md-6">
                <label >
                    Porcentaje desarrollo:
                </label>
                <input ng-model="tarea.porcentaje" placeholder="Porcentaje" class="form-control" required>
            </div>
             
            <div  class="form-group col-md-6">
                <label>
                    Estado
                </label>
                <input ng-model="tarea.estado" placeholder="Estado desarrollo actividad" class="form-control" required>
            </div>
            <div class="form-group col-lg-6">
                <label >
                    Inicio
                </label>
                <input   type="date" class="form-control"
                         placeholder="fecha" 
                         ng-model="tarea.inicio" required>
            </div>
            <div class="form-group col-lg-6">
                <label>
                    Fin
                </label>

                <input   type="date" class="form-control"
                         placeholder="fecha" 
                         ng-model="tarea.fin" required>
            </div> 
           
            <div class="col col-lg-7 ">
                <button class="btn btn-primary" type="submit" ng-click="crearTarea(formulario)" >
                    Agregar
                </button>
                <button class="btn btn-success" type="button" ng-click="modificarTarea(formulario)">
                    Modificar
                </button>
            </div>
        </form>

        <form role="form" name="formulario2" ng-submit="buscaTarea(formulario2)">
            <div class="form-group col-lg-6">
                <label>
                    Nombre
                </label>
                <input  type="text" class="form-control"
                        placeholder="nombre a buscar" 
                        ng-model="tarea.nombre" required>
            </div>
            <div class="form-group col-lg-6"  style="margin-top: 24px ">
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
                <button class="btn btn-danger" type="button" ng-click="eliminarTarea(formulario2)">
                    Eliminar
                </button>
            </div>
        </form>

        <div class="panel panel-primary col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Buscar cargos" ng-model="filtrar">

            </div>
        </div>


        <div class="panel-body">
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th class="seleccionable">
                            <a>Actividad</a>
                        </th> 
                        <th class="seleccionable">
                            <a>Nombre</a>
                        </th>   
                        <th class="seleccionable">
                            <a>Porcentaje(%)</a>
                        </th>    
                        <th class="seleccionable">
                            <a>Estado(%)</a>
                        </th>    
                        <th class="seleccionable">
                            <a>Fecha Inicio</a>
                        </th>  
                        <th class="seleccionable">
                            <a>Fecha Fin</a>
                        </th>

                    </tr>
                </thead>
                <tbody ng-init="listarTarea()" >
                    <tr  ng-click="getSelectedRow()" ng-repeat="obj in lTarea | filter:filtrar ">
                        <td>{{obj.nombreactividad}}</td>
                        <td>{{obj.nombre}}</td>
                        <td>{{obj.porcentaje}}</td>
                        <td>{{obj.estado}}</td>
                        <td>{{obj.inicio}}</td>
                        <td>{{obj.fin}}</td>

                    </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>